@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- Flechas ----------------- */
/* Siempre naranja brillante */
.swiper-button-next,
.swiper-button-prev {
  color: #FF7F11 !important; /* naranja más llamativo */
}

/* Hover más intenso */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #FF5E00 !important; /* naranja intenso */
}

/* ----------------- Paginación (bullets) ----------------- */
/* Bullet normal */
.swiper-pagination-bullet {
  background-color: #FF7F11 !important; /* naranja brillante */
  opacity: 0.7; /* un poco de transparencia */
}

/* Bullet activo */
.swiper-pagination-bullet-active {
  background-color: #FF5E00 !important; /* naranja intenso */
  opacity: 1;
}
